
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

﻿<div class="section">
    <div id="section_title">@ViewBag.Title</div>
    <address>
        DieSachbearbeiter<br />
        Schönhauser Allee 167c<br />
        10435 Berlin<br />
        Germany<br />
        Telephone: +49 30 47373795<br />
        E-mail: moin@blindtextgenerator.de
    </address>
</div>